/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

:root{
    --green: #0ba288;
}

.nopadding{
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

.homeBtn {
  background: none;
  border-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 140px;
}

.modal-login-btn {
    background: none;
    border-color: white;
    width: 35% !important;
}

.homeBtn:hover, .modal-login-btn:hover{
    background: var(--green);
    border-color: var(--green);
}

html,
body {
  background: url("../../images/nfl_logo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  background-color: #000;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  margin: 0px;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.82);
}

.cover-container {
  #background-color: rgba(0,0,0,0.6);
  margin-right: auto;
  margin-left: auto;
}

.cover-heading{
  margin-top: 25px;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}

@font-face {
    font-family: 'Advent Pro', sans-serif;
    src: url('../../fonts/adventpro-extralight.ttf')
    font-weight:300;
}

p, h1, .adventpro {
    font-family: 'Advent Pro', sans-serif;
}

h1 {
	text-align: center;
	margin-bottom: 0;
	margin-top: 60px;
	font-family: inherit;
	font-size: 5em;
}

/* Modal */
.modal-content:before{
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

body.modal-open .cover-container, body.background{
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.modal-content {
    /*height: 40%;*/
    width: 200%;
    color: #000;
    text-shadow: none;
    width: 600px;
    height: 250px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -300px;
    margin-right: 200px;
    padding: 20px;
    background-color: rgba(0,0,0,.85) !important;
    border-color: white;
}

.modal-dialog {
    padding-top: 120px;
}

.modal-field-format{
    background-color: transparent !important;
    border: 0px;
    text-align: center;
    color: white;
}

.modal-text-field{
    margin-right: 36px; /*This offsets the font awesome icon and allows the placeholder text to appear center*/
}

.modal-text-field:focus{
    outline: none;
    border-color: var(--green);
    border-radius: 6px !important;
    box-shadow: 0 0 15px var(--green);
    color: white;
}

.modal-title{
    color: white;
    padding-bottom: 5px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.modal-footer{
    font-size: .75em;
    border: 0px;
    padding-top: 5px;
}

.modal-fa{
    color: var(--green);
}

.contentSection{
    width: 40%;
    float: left;
}

/*.existingUserColumn {
  width: 60%;
  float: right;
}*/

/*.newUserColumn {
  width: 60%;
  float: right;
}*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: center;
  color: #bbc7c3;
}

::-moz-placeholder { /* Firefox 19+ */
  text-align: center;
  color: #bbc7c3;
}

:-ms-input-placeholder { /* IE 10+ */
  text-align: center;
  color: #bbc7c3;
}

/*.vertical-divider {
   position: absolute;
   z-index: 10;
   left: 50%;
   margin: 0;
   padding: 0;
   width: auto;
   height: 98%;
   line-height: 0;
   text-align:center;
   text-transform: uppercase;
   transform: translateX(-50%);
}

.vertical-divider:before,
.vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
  width: 0;
  height: calc(100% - 1rem);
}*/

.loginRowSpacing {
  margin-bottom: 7px;
}

/*
.newUserColumn {
  margin-right: 25px;
}

.existingUserColumn {
  */
/*margin-left: 25px;*//*

}*/
